<h1>Results Table Exploratory Analysis</h1>

This notebook is for the purpose of beginning work on analyzing the given Centaur results data. This will involve creating a cleaned table, with just the data needed to compare the accuracy of expert votes against qualifed read votes.

In [1]:
from datascience import *
import numpy as np
import re

In [2]:
results = Table.read_table('centaur-data/1345_customer_results.csv')
results.show(3)

<h2>Data Cleaning</h2>

We only want to use rows in the results table where the URL in the column Origin contains a vote number N in the form 'voteN'. So, we'll start by finding those, and eliminating the rest:

In [3]:
sample_url = results.column(1).item(1)
sample_url

'https://centaur-customer-uploads.s3.us-east-1.amazonaws.com/mgh-eeg/210721/jpg/B10_time178433_medoid_vote0.jpg'

In [4]:
sample_split = sample_url.split('.')
sample_split

['https://centaur-customer-uploads',
 's3',
 'us-east-1',
 'amazonaws',
 'com/mgh-eeg/210721/jpg/B10_time178433_medoid_vote0',
 'jpg']

In [5]:
sample_split[-2].split('_')[-1]

'vote0'

In [6]:
re.search('vote[0-8]', sample_url)

In [7]:
re.search('vote[0-8]', sample_url).group()

'vote0'

In [8]:
re.search('vote[0-8]', sample_url).string

'https://centaur-customer-uploads.s3.us-east-1.amazonaws.com/mgh-eeg/210721/jpg/B10_time178433_medoid_vote0.jpg'

In [9]:
origin_array = results.column('Origin')
voteN_found_array = make_array()

for url in origin_array:
    '''
    Find the URLs in the Origin column of the results table that contain "voteN", where N is a digit from 0-8.
    Create a true/false array that maps to where "voteN" was found in the column.
    '''
    if re.search('vote[0-8]', url) == None:
        voteN_found_array = np.append(voteN_found_array, 0)
    else: 
        voteN_found_array = np.append(voteN_found_array, 1)
        
voteN_found_array

array([ 1.,  1.,  1., ...,  1.,  1.,  1.])

Numbers below show how many "voteN"-containing URLs were found: 27,000 out of 30,293

In [10]:
np.count_nonzero(voteN_found_array)

27000

In [11]:
len(voteN_found_array)

30293

Pruning the results table to a version containing only the "voteN" rows:

In [12]:
results_voteN = results.with_column('voteN exists', voteN_found_array)
results_voteN.num_rows

30293

In [13]:
results_voteN = results_voteN.where('voteN exists', 1)
results_voteN.num_rows

27000

In [14]:
results_voteN.show(5)

<h2>Eliminating Unnecessary Information</h2>

Now we'll trim the table down much more.

The columns to be kept will be only the Case ID and the quantitative columns that relate to labelling votes and accuracy.

<h3>Column Choice Reasons</h3>

We will be dropping many columns in the next cell below, for the following reasons:

- Origin Created At: Exactly when this data was created is not relevant for analyzing the labelling accuracy we're interested in.
- Content ID: The exact media type of the content in a specific case is not relevant for analyzing the labelling accuracy.
- URL: This is a reference to the case in Centaur's system. Not relevant for anayzing labelling accuracy.
- Labelling State: This is not quantitative data pertaining to labelling accuracy.
- Series, Series Index, and Patch: These all pertain to identifying the exact content used in a specific case. Not relevant for analyzing labelling accuracy.
- Internal Notes, Comments, Explanation: None of these are quantitative information about the labelling accuracy.
- voteN found: This was a column I had added temporarily just as an aid in data cleaning. It isn't needed anymore.

And we will keep the following columns, for the following reasons:

- Case ID: Keeping a primary key for organizing our table.
- Origin --> Expert Yes Votes: This column contains an important piece of information, the number of expert yes votes. We will clean this data shortly, extracting these numbers and discarding the rest of the URLs, and renaming the column accordingly from Origin to Expert Yes Votes.
- All the remaining columns to be seen below contain quantitative data about the expert votes and the qualified read votes. This could all be relevant data for the task of comparing the accuracy of expert labelling votes with the accuracy of qualified read labelling votes.

In [15]:
results_trimmed = results_voteN.drop(2,3,4,5,6,7,8, "Internal Notes", "Comments", "Explanation", "voteN exists")
results_trimmed.show(3)

<h2>Data Cleaning, continued</h2>

We'll extract the the number of expert yes votes from the Origin URLs, and replace the column with just those numbers.

In [16]:
expert_yes_votes = make_array()
for url in results_trimmed.column('Origin'):
    N = re.search('vote[0-8]', url).group()[-1]
    expert_yes_votes = np.append(expert_yes_votes, N)

expert_yes_votes

array(['2', '0', '0', ..., '4', '5', '5'],
      dtype='<U32')

In [17]:
results_trimmed = results_trimmed.with_column('Origin', expert_yes_votes).relabeled('Origin', 'Expert Yes Votes')
results_trimmed

Case ID | Expert Yes Votes | Qualified Reads | Correct Label | Majority Label | Difficulty | Agreement | First Choice Answer | First Choice Votes | First Choice Weight | Second Choice Answer | Second Choice Votes | Second Choice Weight
5888087 | 2                | 2               | 'no'          | 'no'           | 0          | 1         | 'no'                | 2                  | 1.54                | 'yes'                | 0                   | 0
5888088 | 0                | 3               | 'no'          | 'no'           | 0          | 1         | 'no'                | 3                  | 2.34                | 'yes'                | 0                   | 0
5888089 | 0                | 2               | 'no'          | 'no'           | 0          | 1         | 'no'                | 2                  | 1.7                 | 'yes'                | 0                   | 0
5888090 | 0                | 1               | 'no'          | 'no'           | 0          | 1         | 'no'                | 1                  | 0.82                | 'yes'                | 0                   | 0
5888091 | 4                | 7               | nan           | 'yes'          | nan        | 0.571     | 'yes'               | 4                  | 3.28                | 'no'                 | 3                   | 2.32
5888092 | 0                | 4               | 'no'          | 'no'           | 0          | 1         | 'no'                | 4                  | 3.3                 | 'yes'                | 0                   | 0
5888093 | 0                | 6               | 'no'          | 'no'           | 0          | 1         | 'no'                | 6                  | 4.94                | 'yes'                | 0                   | 0
5888094 | 0                | 2               | 'no'          | 'no'           | 0          | 1         | 'no'                | 2                  | 1.56                | 'yes'                | 0                   | 0
5888095 | 0                | 4               | 'no'          | 'no'           | 0          | 1         | 'no'                | 4                  | 3.34                | 'yes'                | 0                   | 0
5888096 | 0                | 3               | 'no'          | 'no'           | 0          | 1         | 'no'                | 3                  | 2.56                | 'yes'                | 0                   | 0
... (26990 rows omitted)

It is a bit annoying for searching through this table that all the strings for yes and no actually contain single quotes around them. Let's clean that up:

In [18]:
def strip_quotes(str):
    return str.strip("'")

In [19]:
str1 = "'blargh'"

In [20]:
strip_quotes(str1)

'blargh'

In [21]:
str1

"'blargh'"

In [22]:
results_trimmed.apply(strip_quotes, "Correct Label")

array(['no', 'no', 'no', ..., 'nan', 'yes', 'yes'],
      dtype='<U3')

In [23]:
def fix_strings(table, list_of_columns):
    new_table = table
    for column_name in list_of_columns:
        fixed_strings = table.apply(strip_quotes, column_name)
        new_table = new_table.with_column(column_name, fixed_strings)
    return new_table

In [24]:
results_trimmed = fix_strings(results_trimmed, ['Correct Label', 'Majority Label', 'First Choice Answer', 'Second Choice Answer'])
results_trimmed

Case ID | Expert Yes Votes | Qualified Reads | Correct Label | Majority Label | Difficulty | Agreement | First Choice Answer | First Choice Votes | First Choice Weight | Second Choice Answer | Second Choice Votes | Second Choice Weight
5888087 | 2                | 2               | no            | no             | 0          | 1         | no                  | 2                  | 1.54                | yes                  | 0                   | 0
5888088 | 0                | 3               | no            | no             | 0          | 1         | no                  | 3                  | 2.34                | yes                  | 0                   | 0
5888089 | 0                | 2               | no            | no             | 0          | 1         | no                  | 2                  | 1.7                 | yes                  | 0                   | 0
5888090 | 0                | 1               | no            | no             | 0          | 1         | no                  | 1                  | 0.82                | yes                  | 0                   | 0
5888091 | 4                | 7               | nan           | yes            | nan        | 0.571     | yes                 | 4                  | 3.28                | no                   | 3                   | 2.32
5888092 | 0                | 4               | no            | no             | 0          | 1         | no                  | 4                  | 3.3                 | yes                  | 0                   | 0
5888093 | 0                | 6               | no            | no             | 0          | 1         | no                  | 6                  | 4.94                | yes                  | 0                   | 0
5888094 | 0                | 2               | no            | no             | 0          | 1         | no                  | 2                  | 1.56                | yes                  | 0                   | 0
5888095 | 0                | 4               | no            | no             | 0          | 1         | no                  | 4                  | 3.34                | yes                  | 0                   | 0
5888096 | 0                | 3               | no            | no             | 0          | 1         | no                  | 3                  | 2.56                | yes                  | 0                   | 0
... (26990 rows omitted)

Let's also do a check that the rest of the columns have data types that make sense, and fix anything else that might need fixing:

In [25]:
def check_data_types(table):
    data_types = list()
    for i in np.arange(table.num_columns):
        data_types.append( type(table.column(i).item(0) ) )
    return data_types

In [26]:
check_data_types(results_trimmed)

[int, str, int, str, str, float, float, str, int, float, str, int, float]

Most of this is fine, but the 'Expert Yes Votes' are actually strings. They should be converted to ints:

In [27]:
expert_yes_ints = make_array()
for i in expert_yes_votes:
    expert_yes_ints = np.append(expert_yes_ints, int(i))

expert_yes_ints

array([ 2.,  0.,  0., ...,  4.,  5.,  5.])

In [28]:
results_trimmed.num_rows

27000

In [29]:
len(expert_yes_ints)

27000

In [30]:
results_trimmed = results_trimmed.with_column('Expert Yes Votes', expert_yes_ints)
results_trimmed

Case ID | Expert Yes Votes | Qualified Reads | Correct Label | Majority Label | Difficulty | Agreement | First Choice Answer | First Choice Votes | First Choice Weight | Second Choice Answer | Second Choice Votes | Second Choice Weight
5888087 | 2                | 2               | no            | no             | 0          | 1         | no                  | 2                  | 1.54                | yes                  | 0                   | 0
5888088 | 0                | 3               | no            | no             | 0          | 1         | no                  | 3                  | 2.34                | yes                  | 0                   | 0
5888089 | 0                | 2               | no            | no             | 0          | 1         | no                  | 2                  | 1.7                 | yes                  | 0                   | 0
5888090 | 0                | 1               | no            | no             | 0          | 1         | no                  | 1                  | 0.82                | yes                  | 0                   | 0
5888091 | 4                | 7               | nan           | yes            | nan        | 0.571     | yes                 | 4                  | 3.28                | no                   | 3                   | 2.32
5888092 | 0                | 4               | no            | no             | 0          | 1         | no                  | 4                  | 3.3                 | yes                  | 0                   | 0
5888093 | 0                | 6               | no            | no             | 0          | 1         | no                  | 6                  | 4.94                | yes                  | 0                   | 0
5888094 | 0                | 2               | no            | no             | 0          | 1         | no                  | 2                  | 1.56                | yes                  | 0                   | 0
5888095 | 0                | 4               | no            | no             | 0          | 1         | no                  | 4                  | 3.34                | yes                  | 0                   | 0
5888096 | 0                | 3               | no            | no             | 0          | 1         | no                  | 3                  | 2.56                | yes                  | 0                   | 0
... (26990 rows omitted)

<h2>Cleaned Table</h2>

Now the strings are easy to handle, numbers are appropriate number types, and we can explore the data.

Below, we can see that we have a remarkably neat set of data to work with. It contains exactly 12,000 cases where the expert vote favored 'yes', another 12,000 where the expert vote favored 'no', and 3,000 where the expert vote was split. (And we can also see confirmation that the number of expert yes votes fits as expected with the given "correct label".)

In [31]:
results_trimmed.where('Correct Label', 'yes').num_rows

12000

In [32]:
results_trimmed.where('Expert Yes Votes', are.above(4)).num_rows

12000

In [33]:
results_trimmed.where('Correct Label', 'no').num_rows

12000

In [34]:
results_trimmed.where('Expert Yes Votes', are.below(4)).num_rows

12000

In [35]:
results_trimmed.where('Correct Label', 'nan').num_rows

3000

In [37]:
results_trimmed.where('Expert Yes Votes', 4).num_rows

3000

<h2>Considering Expert Split-vote Cases</h2>

In cases without an expert majority vote, and therefore by definition in this data lacking a "correct" label, it may still be useful to consider the qualified read vote independently.

From the column explanations readme file: "Agreement: Qualified Reads with the Majority Label divided by total Qualified Reads."

So, we can look at the Agreement values as a way of considering the qualified read vote. We might ask the question: did the qualified reads tend to be evenly split (or approximately so), like the experts?

In [42]:
results_split_vote = results_trimmed.where('Correct Label', 'nan')
results_split_vote

Case ID | Expert Yes Votes | Qualified Reads | Correct Label | Majority Label | Difficulty | Agreement | First Choice Answer | First Choice Votes | First Choice Weight | Second Choice Answer | Second Choice Votes | Second Choice Weight
5888091 | 4                | 7               | nan           | yes            | nan        | 0.571     | yes                 | 4                  | 3.28                | no                   | 3                   | 2.32
5888782 | 4                | 5               | nan           | no             | nan        | 1         | no                  | 5                  | 3.94                | yes                  | 0                   | 0
5891822 | 4                | 5               | nan           | yes            | nan        | 0.8       | yes                 | 4                  | 3.1                 | no                   | 1                   | 0.76
5891960 | 4                | 7               | nan           | no             | nan        | 1         | no                  | 7                  | 5.53                | yes                  | 0                   | 0
5891979 | 4                | 8               | nan           | no             | nan        | 0.625     | no                  | 5                  | 3.92                | yes                  | 3                   | 2.38
5892075 | 4                | 8               | nan           | yes            | nan        | 0.625     | yes                 | 5                  | 3.88                | no                   | 3                   | 2.32
5892087 | 4                | 2               | nan           | yes            | nan        | 0.5       | yes                 | 1                  | 0.84                | no                   | 1                   | 0.88
5892132 | 4                | 11              | nan           | yes            | nan        | 0.545     | yes                 | 6                  | 4.7                 | no                   | 5                   | 3.84
5892139 | 4                | 10              | nan           | yes            | nan        | 0.7       | yes                 | 7                  | 5.64                | no                   | 3                   | 2.38
5892162 | 4                | 8               | nan           | yes            | nan        | 1         | yes                 | 8                  | 6.46                | no                   | 0                   | 0
... (2990 rows omitted)

In [43]:
np.mean(results_split_vote.column('Agreement'))

0.82688333333333341

In [44]:
np.median(results_split_vote.column('Agreement'))

0.85699999999999998

In [46]:
np.std(results_split_vote.column('Agreement'))

0.16040396832857831

The mean and median of the Agreement values are both over 80%, with a standard deviation of 16%.

This suggests, in a broad way, that these cases may still have value. This is worth looking further into.

<h2>Create Expert Accuracy Column</h2>

It will be necessary to have a number for expert accuracy in the cases where there was a majority vote, to compare against qualified read accuracy.

As for qualified read accuracy for these cases, it appears that we already have those numbers! Defined in the column explanations readme file: 
 
"Difficulty: Qualified Reads without the Correct Label divided by total Qualified Reads."